<html ng-app="doglog">
<head>

<!-- dependent stuff -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<style type="text/css" link="bower_components/angular/angular-csp.css"></style>
<style type="text/css" link="bower_components/bootstrap/dist/css/bootstrap.css"></style>
<style type="text/css" link="bower_components/bootstrap/dist/css/bootstrap-theme.css"></style>

<!-- our stuff -->
<script type="text/javascript" src="doglog.js"></script>

<title>DogLog</title>
</head>

<body>
<div ng-controller="LogCtrl">
  <h1> {{dog.name}} </h1>
  <h2> Log </h2>
  <form id="doglog_form">
  
  @ <select ng-model="log.data.when" > 
   <option selected  value="0" >now</option>
   <option value="5" >5 min ago</option>
   <option value="15" >15 min ago</option>
   <option value="30" >30 min ago</option>
  </select> <br>

  <div id="log_did">
   <input type="radio" id="did_pee"    name="did" value="pee" ng-model="log.data.did" ng-change="startTimer()"> 
      <label for="did_pee"> Pee</label>
   <input type="radio" id="did_poo"    name="did" value="poo" ng-model="log.data.did" ng-change="startTimer()">
      <label for="did_poo"> Poo</label>
   <input type="radio" id="did_eat"    name="did" value="eat" ng-model="log.data.did" ng-change="startTimer()">
      <label for="did_eat"> Eat</label>
   <input type="radio" id="did_refill" name="did" value="refill" ng-model="log.data.did" ng-change="startTimer()">
      <label for="did_refill"> Refill water</label>
 </div>

 <div id="log_opt" ng-if="log.data.did">
   <div id="opts_output"  ng-if="log.data.did == 'poo' || log.data.did == 'pee' "  class="animate-if">
     <input type="checkbox" id="did_outside" name="outside" ng-model="log.data.outside" checked="1" >
        <label for="did_outside"> outside?</label>
   </div>

   <div id="opts_input"   ng-if="log.data.did == 'eat' || log.data.did == 'refill' "  class="animate-if">
    <label for="did_amount"> <!-- how much --> </label>
    <input type="text" id="did_amount" size=3 ng-model="log.data.amount"> 
    <span ng-bind="am_units"></span>
   </div>

  <div id="timerbar"  style="background-color:blue;height:12px;width:{{timer*100}}%" > &nbsp;</div>
 </div>
 </form>

{{log.data.outside}}
 {{logs}}


</div>
</body>
</html>
